.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1em;
    text-align: center;
    background-color: mediumpurple;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    margin: auto;
}

button.save {
    width: 30em;
    margin: auto;
    padding: 1em;
    border-radius: 0.5em;
    background-color: mediumpurple;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
